# Seu número de WhatsApp (com DDI e sem o sinal de +)
# Exemplo: 5511999999999
OWNER=

# IP da rede local onde o servidor PC está rodando
# Exemplo: 192.168.1.100
PC_IP=

# MAC Address do PC que você deseja ligar
# Exemplo: 04:7C:16:4B:28:10
PC_MAC=
